body {
  background-color: black;
  color: white;
  font-family: "Comic Sans MS", "Sans Serif";
}

p {
  left-margin: 20px;
  right-margin: 20px;
}

div {
  border-radius: 10px;
  color: black;
}
.link {
  color: cyan;
  
}
.Title {
  animation-name: MoveRight;
  animation-duration: 2s;
}
.Title2 {
  animation-name: MoveDown;
  animation-duration: 3s;
}
@keyframes MoveDown {
  0%   {transform : translateY(-10em)}
  50% {transform : translateY(1em)}
  100% {transform : translateY(0em)}
}
@keyframes MoveRight {
  0%   {transform : translateX(-10em)}
  50% {transform : translateX(4em)}
  100% {transform : translateX(0em)}
}
